body {
	background: url("img/background.png");
	padding-top: 25px;
}

table {
}
th {
	font-size: 10pt;
	font-family: Verdana, Georgia;
	background-color: #cfe3ff;
	padding: 3px;
}
td {
	font-size: 10pt;
	padding: 3px;
}
tr.org td {
	background: #EFEFEF;
}

table.mainframe {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border-spacing: 15px;
	border-collapse: separate;
}

td.mainframe {
	background: #ffffff;
	padding: 5px;
	border: 2px solid #5a5f82;
	font-family: Verdana, Georgia;
	font-size: 11pt;
	color: #000000;
}
.banner {
	background: #ffffff;
	padding: 5px;
	border: 2px solid #5a5f82;
	font-family: Verdana, Georgia;
	font-size: 10pt;
	color: #000000;
	text-align: center;
}

a,a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
//	color: #591700;
	text-decoration: underline;
}

img {
	border-style: none;
}

.large {
	font-size: 14pt;
	font-weight: bold;
}

.small {
	font-size: 10pt;
}