<?php

define(DBHOST,"localhost");
define(DBUSER,"bzflag");
define(DBNAME,"bzflag");
define(DBPASS,"bzflag");

$link=mysql_pconnect(DBHOST, DBUSER, DBPASS);
mysql_select_db(DBNAME, $link);

if(!$link)
{
	echo "Problem with database, come back later";
	exit;
}
?>
