
body {
	background: white;
	margin: 0px;
}

body, table {
	font-family: "bitstream vera sans", verdana, arial, sans-serif;
	font-size: 10px;
	color: #333333;
}

#banner {
	background: #336699 url(../images/banner_bluetangerine.jpg) top left no-repeat;
	height: 11em;
}

/* #banner #bannerimg {
	background: url(images/gotstats.png) top left no-repeat;
	height: 110px;
	width: 213px;
} */

a  {
	color: #ee8800;
/*	color: #cc6600; */
	text-decoration: none;
	font-weight: bold;
}

td.score, td.killquotient {
	text-align: right
}
/*
a:active  {
            color: #ff3300;
}

a:visited  {
             color: #336699;
}*/

a:hover  {
	color: #5588bb;
/*	color: #336699;*/
	text-decoration: underline;
}

tr.tableheader {
	background: #ffddbb;
/*	background: #ffcc99;*/
                 color: black;
}

tr.tableheader a {
	color: #333333;
/*	color: black;*/
/*	text-decoration: underline; */
}

tr.tableheader a:hover {
	color: #333333;
/*	color: black;*/
}

tr.tableheader td {
	font-weight: bold;
	text-align: center;
}

tr.evenrow {
	background: #ffddbb;
/*	background: #ffcc99;*/
}

tr.oddrow {
	background: white;
}

table {
	width: 100%;
	margin: 1em auto;
/*        border: 0.1em solid #6699cc; */
        border: 0.1em solid #88aacc;
}

table td {
	padding: 0.4em;
}

p.pages {
	text-align: center;
	font-size: 120%;
}

.teamred {
	color: #ff3333;
/*	color: #ff0000;*/
	font-weight: bold;
}

.teamgreen {
	color: #33bb33;
/*        color: #00bb00;*/
	font-weight: bold;
}

.teamblue {
	color: #3333ff;
/*	color: #0000ff;*/
	font-weight: bold;
}

.teampurple {
	color: #ff33ff;
/*	color: #ff00ff;*/
	font-weight: bold;
}

.teamrogue {
/*	color: black; */
	font-weight: bold;
}

.teamobserver {
/*	color: black; */
	font-weight: bold;
}

.teamrabbit {
	color: #994433;
/*	color: #994400;*/
	font-weight: bold;
}

#main {
	background: white;
	border-top: 0.1em solid black;
/*	border-bottom: 1px solid #333333; */
/*	width: 100%; */
	padding: 1em;
}

#content { 
           margin-left: 17em;
           width: 59em;
}

#footercontainer { 
                   text-align: center;
                   font-size: 90%;             
                   clear: both;
                   }

#footercontainer div { 
                       margin: 1em;
                       }

h1 {
	font-size: 200%;
     font-family: "trebuchet ms", sans-serif;
     
}

h2 {
	font-size: 150%;
     font-family: "trebuchet ms", sans-serif;
}


h3 {
	font-size: 120%;
     font-family: "trebuchet ms", sans-serif;
}

h4 {
	font-size: 100%;
     font-family: "trebuchet ms", sans-serif;
}

#menu { 
        float: left;
        width: 14em;
        border-right: 0.1em dashed #666666;
/*        border-right: 0.1em dashed #333333;*/
        padding: 1em;
}

#menubar {
           position: relative;
           top: 8.7em;
           left: 17em;
           height: 2.4em;
           line-height: 2.4em;
           width: 40em;
           }

#menubar a {
             font-size: 1.6em;
             font-weight: normal;
             color: #444444;
/*             color: #333333;*/
             background: #cccccc;
/*             background: #cccccc;*/
             padding: 0.125em;
             padding-left: 0.5em;
             padding-right: 0.5em;
             border-top: 0.0625em solid #333333;
             border-right: 0.0625em solid #666666;
             border-bottom: 0.0625em solid #999999;
                  border-left: 0.0625em solid #333333;
             margin-right: -0.25em;
             }

#menubar a:hover {
                   color: #333333;
/*                   color: black;*/
                   text-decoration: none;
                   background: #ffcc99;
                   border-right: 0.0625em solid #996666;
                   border-bottom: 0.0625em solid #cc9966;
                  border-left: 0.0625em solid #333333;
                   }

#menubar a.active {
                   color: #333333;
/*                   color: black;*/
                    text-decoration: none;
                    background: white;
                    border-bottom: 0.0625em solid white;
                        border-left: 0.0625em solid #333333;
                    }

#menubar a.active:hover {
                   color: #333333;
/*                   color: black;*/
                          text-decoration: none;
                          background: white;
                          border-bottom: 0.0625em solid white;
                          border-right: 0.0625em solid #666666;
                        border-left: 0.0625em solid #333333;
                    }



.center {
	text-align: center;
}

img {
	border: 0px;
	margin: 0px;
	vertical-align: text-bottom;
}

p.refreshed {
/*              float: right; */
              text-align: right;
	font-style: italic;
}

div#languages {
	position: absolute;
	top: 130px;
	right: 5px;
/*	background: #BDCDE0; */
	background: #E5E9ED;
	padding: 3px;
}

a.help {
	background: white;
	padding: 0.1em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	color: #336699;
}

a.help:hover {
	text-decoration: none;
               }

.menusection { 
               padding: 1em;
               }

.menusection:hover { 
             background: #bbddff;
/*             background: #99ccff;*/
                 color: black;
                     
               }

a.active { 
           color: #ff3333;
/*           color: #ff3300;*/
           }

a.active:hover { 
           color: #ff3333;
/*           color: #ff3300;*/
           }

.menusectionhome { 
                   color: black;
                   padding: 1em;
                   background: #e0f0ff;
/*                   background: #e0eeff;*/
                   }

.menusectionhome:hover { 
             background: #bbddff;
/*             background: #99ccff;*/
                 color: black;
                     
               }

.menusectionactive { 
                 color: black;
                     padding: 1em;
                     background: #ffcc99;
/*                     background: #ffcc99;*/
                     }

.menusection ul, .menusectionactive ul { 
                  list-style-type: none;
                  padding-left: 1em;
                  margin: 0.3em;
                  }
pre { 
      background: #e0f0ff;
/*      background: #e0eeff;*/
      padding: 20px;
      }

caption {
	font-size: 130%;
     font-family: "trebuchet ms", sans-serif;
          font-weight: bold;
          margin: 0.5em;
}

