body {
	background: white;
	color: black;
}

body, table {
	font-size: 8px;
	color: black;
}

#banner {
	display: none;
}

/* #banner #bannerimg {
	background: url(images/gotstats.png) top left no-repeat;
	height: 110px;
	width: 213px;
} */

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

td.score, td.killquotient {
	text-align: right
}

tr.tableheader {
	background: #C0C0C0;
}

tr.tableheader td {
	font-weight: bold;
	text-align: center;
}

tr.evenrow {
	background: #C0C0C0;
}

tr.oddrow {
	background: white;
}

table {
/*	width: 100%; */
	margin: 0px;
	margin-bottom: 15px;
	border: 1px solid black;
}

table td {
	padding: 3px;
}

p.pages {
	text-align: center;
	font-size: 120%;
}

.teamred {
	color: black;
	font-weight: bold;
}

.teamgreen {
	color: black;
	font-weight: bold;
}

.teamblue {
	color: black;
	font-weight: bold;
}

.teampurple {
	color: black;
	font-weight: bold;
}

.teamrogue {
	color: black;
	font-weight: bold;
}

.teamrabbit {
	color: black;
	font-weight: bold;
}

.teamobserver {
	color: black;
	font-weight: bold;
}

a.help {
	display: none;
}

#copyright {
	margin: 10px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	text-align: center;
	font-size: 90%;
	color: black;
}

#copyright a {
	color: black;
	font-weight: normal;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}


h3 {
	font-size: 120%;
	text-align: center;
}

h4 {
	font-size: 100%;
}

#menubar {
	display: none;
}

#menu {
	display: none;
}

.center {
	text-align: center;
}

img {
	border: 0px;
}

p.refreshed {
	text-align: right;
	font-size: 90%;
	font-style: italic;
}

#footer {
	display: none;
}

p#w3c {
	display: none;
}

#content {
	background: white;
	border: 0px;
	padding: 10px;
	margin: 0px;
	width: 100%;
}

div#languages {
	display: none;
}
