* { margin: 0; padding: 0; }

img { border-width: 0; }

ul {
  margin-left: 1em;
}

li {
  margin-left: 1em;
}

body {
  padding: 1em;
  background: green url('std_ground.jpg') repeat fixed;
  color: white;
  
  font: 0.9em/1.3em Verdana, Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.15em;
  margin-bottom: 0.7em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

ul {
  margin-bottom: 1em;
}

hr {
  margin: 0.5em -0.5em;
  clear: both;
}

fieldset {
  border: 1px solid gray;
  padding: 0.5em 0.5em 0.5em;
  margin-bottom: 1em;
}

legend {
  font-variant: small-caps;
  padding: 0 0.25em;
  margin-left: 0.5em;
  border: 1px solid gray;
}

input, select {
  margin: 1px;
}

.hide {
  display: none;
}

#navigation {
  font-variant: small-caps;
  border: 1px solid black;
  color: black;
  background-color: #DDD;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

#logo {
  position:relative;
  float:right;
  bottom:0px;
  right:0px;
}

#navigation ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style: none;
  display: inline;
  margin: 0 0 0 1em;
  padding: 0;
}

#navigation a:link, #navigation a:visited,
#content a:link, #content a:visited,
#footer a:link, #footer a:visited {
  color: black;
  background-color: inherit;
}

#navigation a:hover, #navigation a:active,
#content a:hover, #content a:active,
#footer a:hover, #footer a:active {
  color: gray;
  background-color: inherit;
  text-decoration: none;
}

#content {
  border: 1px solid black;
  color: black;
  background-color: #DDD;
  padding: 0.5em 1em;
}

#footer {
  border: 1px solid black;
  color: black;
  text-align: center;
  background-color: #DDD;
  padding: 0.5em 1em;
  margin-top: 1em;
}


/*
.formelement {
  background-color: #E0EFE3;
  border: 1px solid #000000;
  color: #303c54;
  margin: 0 0 5px 0;
  padding: 2px;
}

.formelementred {
  background-color: #EFE0E1;
  border: 1px solid #000000;
  color: #303c54;
  margin: 0 0 5px 0;
  padding: 2px;
}

submit {
  background-color: #E0EFE3;
  border: 1px solid #000000;
  color: #303c54;
  margin: 0 0 5px 0;
  padding: 2px;
}

.formcancel {
	background-color: #EFE0E1;
	border: 1px solid #000000;
	color: #303c54;
	margin: 0 0 5px 0;
	padding: 2px;
}

.disabled {
	background-color: #E8E8E8;
  border: 1px solid #000000;
  color: #303c54;
  margin: 0 0 5px 0;
  padding: 2px;
}

hr {
	background-color: #D9D9D9;
	height: 3px;	
	border: 1px dotted #000000;
}

option {
  background-color: #E0EFE3;
  color: #303c54;
  font-style: normal;
  font-weight: normal;
  margin: 1px 0 0 0;
  padding: 1px 1px 1px 10px;
}
optgroup {
  background-color: #405070;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  padding: 3px;
}
select {
  padding: 1px;
}
p, td, ol, li {
	color: #E0EFE3;

}

h5 {
	color: #D9D9D9;
	padding: 2px;
}

a {
	color: #E0EFE3;
	padding: 2px;
}

a:hover {
	color: #E0EFE3;
	padding: 2px;
	text-decoration: none;
}

.nameform {
  color: #303c54;
  border: 1px solid #000000;
	padding: 3px 2px 2px 2px;
	margin: 0px;
	background: URL(icon_user.gif) no-repeat;
	background-position: 1px 1px;
	background-color: #E0EFE3;
	padding-left: 18px;
}
.emailform {
  color: #303c54;
  border: 1px solid #000000;
	padding: 3px 2px 2px 2px;
	margin: 0px;
	background: URL(email.gif) no-repeat;
	background-position: 1px 1px;
	background-color: #E0EFE3;
	padding-left: 22px;
}
*/
