<?php

  $config = Array();
  
  // This is the URL to the directory that contains our index.php file. This
  // should also include a trailing slash.
  $config['paths']['baseURL'] = 'http://YourDomain.com/submitimages/';
  
  // This is the local filesystem path to the directory that contains our
  // index.php file. This should also include a trailing slash.
  $config['paths']['baseDirectory'] = '/your/path/htdocs/submitimages/';
  
  
  // Directory that contains various libraries and included files. Does not need
  // to be accessible from the web.
  $config['paths']['includes'] = $config['paths']['baseDirectory'].'includes/';
  
  // This directory contains uncompiled template files, and possibly any
  // associated style sheets, javascript, or images. If it contains any of those
  // types of files, it will need to be accessible from the web.
  $config['paths']['templates'] = $config['paths']['baseDirectory'].'templates/';
  
  // Compiled templates.  This directory needs to be writable by the web server
  // or the user that PHP operates under.  This does not need to be accessible
  // from the web.
  $config['paths']['templates_c'] = $config['paths']['baseDirectory'].'templates_c/';
  
  // This directory will contain language files that can be used to translate
  // the site into another language.  This will be configurable, and the setting
  // the user picks will be stored in a cookie.
  $config['paths']['language'] = $config['paths']['baseDirectory'].'lang/';
  
  // Temporary directory that images are store while they are in the queue. This
  // directory needs to be writable by the web server or the user that PHP
  // operates under. This does not need to be accessible from the web.
  $config['paths']['tmp'] = $config['paths']['baseDirectory'].'tmp/';
  
  // This is the directory that the approved images will end up.  They will be
  // stored in a directory that is associated with the uploader's real name.
  // This needs to be writable by the web server or the user that PHP operates
  // under.
  $config['paths']['public'] = $config['paths']['baseDirectory'].'../';
  
  
  // This is the main title of the application that will appear in various
  // locations of the site.
  $config['site']['title'] = "BZFlag Image Uploader";
  
  // When this is set to true, errors, warnings, and notices in PHP will
  // be shown and/or logged, depending on the php.ini configuration.
  // Default: false 
  $config['enablePHPErrors'] = true;
  
  // This email address will be used as the 'From' address of all emails sent
  // by the image submission system.
  $config['mail']['fromaddress'] = 'fromaddress@domain.com';
  
  // When a new image is posted, the following email will be notified
  $config['mail']['notifyaddress'] = 'toaddress@domain.com';
  
  // Specify the group that will be allowed to view, approve, or deny any
  // pending images using the moderation page. Case-sensitive.
  $config['imageModeratorGroup'] = 'site.imageauth';
  
  // This is the maximum file size that is allowed per image upload. The PHP
  // configuration may have stricter limits that prevent this value from being
  // reached, or from being reached for 'maxFiles' files.
  // Default: 1048576 (1MB)
  $config['upload']['maxFileSize'] = 1048576;
  
  // This is the maximum number of files that a user can upload at one time.
  // Default: 6
  $config['upload']['maxFiles'] = 6;
  
  // These are the various licenses that we have by default. These can all
  // contain a 'name' and 'url' index.
  $config['licenses'] = Array();
  // Th "I stole this" is always at 0. It is the default, and it triggers
  // loading the "Permisson to Use Content" page.
  $config['licenses'][0] = Array('name' => 'I stole this', 'url' => $config['paths']['baseURL'].'permission.php');
  
  // Any license we want to build into the system will be here, ranging from an
  // array index of 1 to 254.
  $config['licenses'][1] = Array('name' => 'GNU LGPL', 'url' => 'http://www.gnu.org/licenses/lgpl.html');
  $config['licenses'][2] = Array('name' => 'BSD/MIT', 'url' => 'http://opensource.org/licenses/bsd-license.php');
  $config['licenses'][3] = Array('name' => 'Creative Commons Attribution 3.0', 'url' => 'http://creativecommons.org/licenses/by/3.0/');
  $config['licenses'][4] = Array('name' => 'Creative Commons Attribution-ShareAlike 3.0', 'url' => 'http://creativecommons.org/licenses/by-sa/3.0/');
  $config['licenses'][5] = Array('name' => 'Public Domain', 'url' => 'http://creativecommons.org/licenses/publicdomain/');
  
  // This one will always be at index 255.  It is used for when the user selects
  // "Other OSI-Approved" and then defines a license name, and either a URL or
  // a full text version of the license.
  $config['licenses'][255] = Array('name' => 'Other OSI-Approved', 'url' => 'http://www.opensource.org/licenses/');

  // Default language to use. This will be select in the event that the user has
  // not yet chosen a language, or if the language they selected does not exist.
  // Default: 'en'
  $config['defaultLanguage'] = 'en';
  
  // Define the languages that we have installed into the language directory.
  $config['languages'][] = Array('name' => 'English', 'code' => 'en');
  //$config['languages'][] = Array('name' => '', 'code' => '');
  
  // Maximum thumbnail width for the queue list
  // Default: 128
  $config['thumbnail']['maxWidth'] = 128;
  
  // Maximum thumbnail height for the queue list
  // Default: 128
  $config['thumbnail']['maxHeight'] = 128;
  
?>
