<?php
/***********************************************************************
|  include file for data update system
***********************************************************************/

// path to root data dir
$rootDataPath = "data";

// default version number
// this is used when the client does not request a specific version
$defaultVersionNumber = "1.12";

// don't change anything below this line......................................

?>